include README.md
include LICENSE
include phylotyper_example.ini
include phylotyper/subtypes_index.yaml
recursive-include phylotyper/data *
include phylotyper/test/data/*
include phylotyper/test/etc/*
